services:
    backend: 
        container_name: backend
        build: ./example-backend
        environment:
            - REDIS_HOST=redis
            - POSTGRES_HOST=db
            - POSTGRES_USER=postgres
            - POSTGRES_PASSWORD=postgres
            - POSTGRES_DATABASE=postgres
        restart: unless-stopped
        depends_on:
            - redis
            - db
    frontend:
        container_name: frontend
        build: ./example-frontend
    redis:
        image: redis
    db:
        image: postgres
        environment:
            - POSTGRES_PASSWORD=postgres
        restart: unless-stopped
        volumes:
            - ./database:/var/lib/postgresql
    proxy:
        image: nginx
        ports:
            - 80:80
        volumes:
            - "./nginx.conf:/etc/nginx/nginx.conf"
        depends_on:
            - frontend
            - backend
