services:
    backend: 
        image: backend
        ports: 
            - 8080:8080
        environment:
            - REQUEST_ORIGIN=http://localhost:5000
            - REDIS_HOST=redis
        restart: unless-stopped
    frontend:
        image: frontend
        ports:
            - 5000:5000
    redis:
        image: redis
