services:
    backend: 
        image: backend
        ports: 
            - 8080:8080
        environment:
            - REQUEST_ORIGIN=http://localhost:5000
    frontend:
        image: frontend
        ports:
            - 5000:5000
